*{
    list-style: none;
    margin : 0;
    padding:0;
    text-decoration: none;
}
@font-face{
    font-family: '优设标题黑';
    src: url('1.ttf');
}
body,html{
    width: 100%;
    height: 100vh;
    justify-content: center;
}
.nav{
    display: flex;
    justify-content :center;
    width: 100%;
    height: 10%;
    position: relative;
    background: #fff;
    top: 0;
    box-shadow: 0 5 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-image: url('20240421210107.gif'); /* 替换为你的动图路径 */  
    background-size: cover; /* 根据需要调整背景图像的大小 */   
    background-repeat: no-repeat; /* 防止背景图像重复 */ 
}
.nav ul{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    right:5%;
}
.nav-box{
    position:absolute;
    bottom:0;
    left: 0;
    width: calc((100%/6)*1);
    height:10px;
    border-radius: 2px;
    transition: .5s;
}
.nav ul li{
    width:100%;
    text-align: center;
}
.nav ul li a{
    color:rgba(70 100 180);
    font: 300 30px '优设标题黑';
    display: block;
    width:100%;
    height:100px;
    line-height: 100px;
}
.nav ul li h3{
    color:white;
    font: 300 40px '优设标题黑';
    display: block;
    width:100%;
    height:100px;
    line-height: 100px;
}
.nav ul li:nth-child(2):hover~.nav-box{
    left:calc(100%/6*1);
    background-color: red;
}.nav ul li:nth-child(3):hover~.nav-box{
    left:calc(100%/6*2);
    background-color: #d17df8;
}.nav ul li:nth-child(4):hover~.nav-box{
    left:calc(100%/6*3);
    background-color: #ffb1b1;
}.nav ul li:nth-child(5):hover~.nav-box{
    left:calc(100%/6*4);
    background-color: #8da1f8;
}.nav ul li:nth-child(6):hover~.nav-box{
    left:calc(100%/6*5);
    background-color: #7df88e;
}
.box{
    display: flex;
    justify-content: space-between;
    width:100%;
    height: 90%;
    background: greenyellow;
}
.left-box{
    position: relative;
    width: 15%;
    height: 100%;
    
}
.left-box-f{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height:98%;
    background:#ccc;
}
.left-f-top-img{
    width:200px;
    height:120px;
    margin: 20px auto;
}
.left-f-top-img img{
    display: block;
    width:100%;
    height:100%;
    border-radius: 10%;
    object-fit: cover;
}
.left-f-top-text{
    text-align: center;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.right-box{
    width: 80%;
    height:100%;
    background: gainsboro;
}